<div class="page-wrapper">
 <div class="nav-wrapper">
  <div class="grad-bar"></div>
  <nav class="navbar">
     <!-- <img th:src="@{/images/posoco_logo.png}" alt="Company Logo"> -->
     <img src="/images/posoco_logo.png" alt="Company Logo">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">
      <li class="nav-item"><a href="/">Home</a></li>
      <li>Hello <span class ="font-weight-bold" >WRLDC</span></li>
    </ul>
     
  </nav>
  </div>
</div>